# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.env.local
.env.dev
.env.dev1
.env.dev2
.env.prod
.env.prod1
.env.prod2

npm-debug.log*
yarn-debug.log*
yarn-error.log*
